{% extends "base.html" %}

{% block content %}
<div class="content">
    <h2>Organize suas tarefas de forma inteligente e eficiente.</h2>

    <p>
        Bem-vindo ao TaskMate, a aplicação web que ajuda você a gerenciar suas atividades diárias de maneira organizada e produtiva. Com o TaskMate, você pode não apenas criar e editar tarefas, mas também organizá-las por tags, definir prazos, e acompanhar seu progresso com tarefas do tipo "contagem".
    </p>

    <h3>Principais Funcionalidades:</h3>

    <ul>
        <li>
            <h5>Adicionar Tarefas:</h5>
            <p>Insira novas tarefas facilmente e personalize-as com tags para melhor organização.</p>
        </li>
        <li>
            <h5>Tags para Organização:</h5>
            <p>Categorize suas tarefas usando tags, facilitando a filtragem e o foco nas tarefas mais importantes.</p>
        </li>
        <li>
            <h5>Definir Prazo:</h5>
            <p>Atribua uma data de conclusão para cada tarefa, garantindo que você mantenha suas atividades dentro do cronograma.</p>
        </li>
        <li>
            <h5>Tarefas de Contagem:</h5>
            <p>Crie tarefas com um objetivo numérico e acompanhe seu progresso. Essas tarefas podem ser incrementadas ou decrementadas até que o objetivo seja atingido.</p>
        </li>
        <li>
            <h5>Editar e Excluir Tarefas:</h5>
            <p>Modifique ou remova tarefas conforme suas prioridades mudam.</p>
        </li>
    </ul>
    <p>Mantenha-se produtivo, organizado e alcance seus objetivos com o TaskMate!</p>
</div>
{% endblock %}
